<div class="row">
  <div class="col-xs-12">
    <!-- <form>  change to add driven form-->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
           type="text"
           id="name"
            class="form-control"
            name="name"
            ngModel  
            required
            >
            <!-- #nameInput>  cancel afer add driven form-->
        </div>
        <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input
             type="number"
              id="amount"
               class="form-control"
               name="amount"
               ngModel
               required
               pattern="^[1-9]+[0-9]*$"
               >
               <!-- #amountInput>  cancel after add driven form-->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <!-- <button type="submit" class="btn btn-success" (click)="onAddItem()" >Add</button>  change after add driven form-->
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>